.text-light {
    margin-left: 25px; 
    margin-bottom: 0px; 
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(110, 110, 110);
}
  
.text-semibold {
    margin-left: 25px; 
    margin-top: 12px;
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgb(36, 36, 36);
}