.container-white {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 52px 0;  
    gap: 10px; 
    background-color: white;
}

.section-element {
    width: 532px;       /* Szerokość prostokąta */
    height: 468px;       /* Wysokość prostokąta */
    background-color: #ffffff; /* Kolor prostokąta */
    border-radius: 8px; /* Zaokrąglenie rogów */
    display:inline-block;
    justify-content: center;
    align-items: center;
}
 