@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.text-transparent {
    background-color: transparent;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-panels {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;  
    gap: 8px; /* Odstęp pomiędzy elementami */
  }