.rectangle {
    width: 70px;       /* Szerokość prostokąta */
    height: 60px;       /* Wysokość prostokąta */
    background-color: #ffffff; /* Kolor prostokąta */
    border-radius: 8px; /* Zaokrąglenie rogów */
    display:inline-block;
    justify-content: center;
    align-items: center;
    font-family: Calibri, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: rgb(24, 24, 24);
  }

  .rectangle-header {
    width: 70px;       
    height: 26px;
    background-color: #20B202;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
  }
  
  .rectangle-header-orange {
    width: 70px;       
    height: 26px;
    background-color: #D88500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
  }

  .rectangle-value {
    width: 70px;       
    height: 34px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgb(15, 15, 15);
    border-radius: 8px;
  }