.reactangle-battery-soc 
{
    width: 280px;      
    height: 120px;       
    background-color: var(--section-color-lighter); 
    border: 6px solid #838383;
    border-radius: 8px; 
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: 6px
}

.reactangle-dynamic 
{
    height: 108px;
    background-color: #20B202;
    border-radius: 4px;   
    display:flex;
    justify-content: center;
    align-items: center;
}